[2020-09-23 12:33] GavinJoyce opened #5 "Rename to `ember-headlessui`"
The React and Vue versions will be known as [`@headlessui/react` and `@headlessui/vue`](https://github.com/tailwindlabs/headlessui/tree/develop/packages).

If we were to move this addon into the `@headlessui` monorepo in future, `@headlessui/ember` will be the correct name. Before then, we should use ember naming patterns. `gavinjoyce/ember-headlessui` probably makes the most sense

[2020-09-25 14:04] GavinJoyce opened #7 "Implement `<Menu>` component"
This component should try to have as close to the same behaviour and API as the Vue and React original versions in https://github.com/tailwindlabs/headlessui.

TODO:

 * [ ] Up, down keyboard navigation
 * [ ] Type to select
 * [ ] Decide on high level API (it may have to diverge from the Vue and React API)
 * [ ] Full test suite

[2020-09-25 14:17] #5 closed

[2020-10-02 20:23] GavinJoyce opened #15 "Implement `<Switch>` component"
TODO:

 * [ ] component
 * [ ] tests
 * [ ] docs

[2020-10-04 08:30] GavinJoyce opened #18 "Add typescript"
We should use typescript for this addon

[2020-10-04 08:30] GavinJoyce opened #19 "Setup CI"

[2020-10-16 15:09] #19 closed

[2021-03-05 09:54] GavinJoyce opened #26 "Add a gif to the readme"
![ember-headlessui](https://user-images.githubusercontent.com/2526/110099076-ce070680-7d98-11eb-932b-afc075fc7b62.gif)

[2021-03-05 09:56] #26 closed

[2021-05-20 20:28] GavinJoyce opened #32 "Publish to npm"

[2021-05-21 07:59] GavinJoyce opened #34 "Enable embroider ember-try scenarios"
I disabled them in https://github.com/GavinJoyce/ember-headlessui/pull/33 as they were causing github actions to timeout

[2021-05-22 15:06] GavinJoyce commented on #32
https://www.npmjs.com/package/ember-headlessui

[2021-05-22 15:06] #32 closed

[2021-06-02 10:36] achambers commented on #7
Hey @GavinJoyce I'm trying to understand the context behind the `menu/item-element` component and how it relates to the `menu/item` component. What's the rationale behind it and the need for the two distinct components?

[2021-06-02 18:09] GavinJoyce commented on #7
I don't remember the details. I seem to recall it was needed to keep parity with the Vue version, something to do with needing to have the flexibility of using a yielded item property on the element itself, eg:

[code]

[2021-06-02 19:59] achambers commented on #7
Hmm. Ok. I’ll take a look at the vue version to try and understand the rationale. On the face of it it looked like an unnecessary extra layer but I’m sure there was a reason behind it. I’ll try and uncover it, for my own knowledge if nothing else.

Thanks for the heads up man.

[2021-06-03 07:17] GavinJoyce commented on #7
👍 I'd be delighted to remove the `menu/item-element` if we can, it's a pretty ugly API.

[2021-06-03 08:27] achambers commented on #7
Yeh, I think we can. I can't see anything in the Vue component (https://headlessui.dev/vue/menu) that references the concept and I can't make out in my mind why we'd need it (could totally be missing something).

The only thing that seems close to this [is this section](https://headlessui.dev/vue/menu#rendering-a-different-element-for-a-component) which talks about rendering as `template` but I do

[2021-06-03 08:46] GavinJoyce commented on #7
Nice. It's possible that the Vue API changed since I last looked at it late last year. It's also possible that I made it more complex that it needed to be. Either way, 🍺 if you manage to remove the need for it

[2021-06-03 08:52] achambers commented on #7
Absolutely. I get the feeling you started this repo when the headlessui work was pretty much in its infancy.

All good my man, I'll see what I can do when I shift my focus to that component 👍

[2021-06-03 08:55] achambers opened #37 "Install release-it and lerna-changelog"

[2021-06-07 21:20] alexlafroscia opened #41 "Not Compatible with `ember-click-outside-modifier`"
I have [`ember-click-outside-modifier`](https://github.com/lifeart/ember-click-outside-modifier#readme) installed in my app. It seems as though `ember-headlessui` breaks it, due to both packages introducing a `click-outside` modifier that are implemented slightly differently.

`ember-click-outside-modifier` passes the event object along as an argument to the action that it calls, while the modifie

[2021-06-08 15:20] alexlafroscia opened #42 "Auto-Deploy Docs Site to GitHub Pages"
The docs site for `ember-headlessui` is really nice! It would be great to make it easier for people checking out this addon to see it.

Would you be interested in having it automatically deploy to GitHub Pages? I do that for a number of my addons, like `ember-steps`, and the configuration for it is pretty easy! I would be happy to set that up if you're interested.

[2021-06-08 19:20] GavinJoyce commented on #42
That would be great, thanks for offering. LMK if you need access to anything to set it up

[2021-06-08 19:47] alexlafroscia commented on #42
I _might_ need a Github "Personal Access Token" configured in GitHub Pages, but I think that they now allow Actions to upload to GitHub Pages without that. If I do, then that's something you could generate and configure in the repo settings. I'll let you know!

[2021-06-08 20:58] alexlafroscia commented on #42
Seems like the deploy worked! It's on the `gh-pages` branch, at least

https://github.com/GavinJoyce/ember-headlessui/tree/gh-pages

It doesn't see like the URL is resolving yet, but I _think_ this should be it when it's done?

http://gavinjoyce.github.io/ember-headlessui/

Also, I realize I named the actual CI jobs badly. I'll clean that up at some point 😬

[2021-06-09 15:04] alexlafroscia commented on #42
Site still isn't live, but I realized I can validate what might be happening on my fork! 🤦

I had to go to this URL (modified to match what it should be for this repo)

https://github.com/GavinJoyce/ember-headlessui/settings/pages

and select the `ph-pages` branch from the drop-down menu. Once I did that, the site (for my branch) went live! 🎉

https://alexlafroscia.github.io/ember-headlessui/

(I

[2021-06-09 15:06] alexlafroscia commented on #42
While the initial page looks correct, the links on the main page don't actually go to the right location -- they aren't respecting the root URL configuration. Lemme work out how to get it fixed on my branch and I'll open a PR to fix the upstream repo before you go and turn on the docs site here!

[2021-06-09 15:08] GavinJoyce commented on #42
The https://gavinjoyce.github.io/ember-headlessui/ index page is loading now

[2021-06-09 15:13] alexlafroscia commented on #42
Great!

It turns out the issue is that the links on the site use normal anchors instead of `LinkTo`. I'll have a PR open in a moment to fix that!

[2021-06-09 15:19] #41 closed

[2021-06-09 15:20] alexlafroscia commented on #41
No longer relevant, as we now _use_ `ember-click-outside-modifier` 😬

[2021-06-09 16:49] alexlafroscia commented on #42
Sweet, looks like the site's all working now!

[2021-06-09 16:49] #42 closed

[2021-06-11 14:39] alexlafroscia opened #48 "`Dialog` breaks Ember-dispatched `click` events"
While migrating our app's modal to use `Dialog` instead of `ember-modal-dialog`, I ran into something of an odd bug! Many `click` handlers in our app suddenly broke.

As it turns out, any `click` event dispatched through Ember's internal event-delegation mechanism are no longer fired. This includes `Ember.Component` classes that define the `click` method (which is attached to the root element) and

[2021-06-11 14:48] achambers commented on #48
hrm.....Nice write up @alexlafroscia . That sure is a doozy. I didn't consider that at all :(

This alone sure makes the `stopPropagation` feel pointless anyway. And, thinking about it, I implemented the "portaling" towards the end, and so, the `stopPropagation` is possibly a hangover from the pre-portal implementation and maybe now doesn't really make that much sense. So, _maybe_ removing it is t

[2021-06-11 14:56] alexlafroscia commented on #48
I wouldn't have either! I only came across all of this because our's is an old, old app with a lot of legacy components that use these patterns.

I think removing it is probably the way to go, too! Ideally an app would _just_ use the `{{on}}` modifier, but I don't know how common it really is these days that people have no hold-overs of the legacy patterns that end up breaking here.

[2021-06-11 15:06] achambers commented on #48
@alexlafroscia So, just to clarify, this only affects the following types of code?

#### Components that extend `Ember.Component` and implement the `click` action
[code]

#### Templates that use the `{{action "click"}}` helper
[code]

[2021-06-11 15:08] #48 closed

[2021-06-11 15:12] alexlafroscia commented on #48
Yup!

The `{{action}}` helper is even more insidious, as you usually will just invoke it like so

[code]

which _implicitly_ binds a `click` event through Ember's event delegation system, so there's very few clues that the `event.stopPropagation` is the reason none of your actions are being called anymore!

[2021-06-14 07:58] #37 closed

[2021-06-15 08:06] far-fetched opened #52 "🐛 `<Menu>` focus button after close items"
Clicking outside the menu items should close menu, and focus button.

[Test](https://github.com/GavinJoyce/ember-headlessui/blob/master/tests/integration/components/menu-test.js#L539)

[Code](https://github.com/GavinJoyce/ember-headlessui/blob/master/addon/components/menu.js#L36)

Bug:

### **Steps to reproduce the problem**

* menu is rendered on the dialog,
* clicking outside dialog (close dialo

[2021-06-15 08:45] GavinJoyce commented on #52
Thanks for the bug report.

We should probably check to see if the element exists and only set focus if it does

[2021-06-18 09:35] achambers opened #54 "`<Menu>` doesn't close items dropdown on `Escape`"
We should make the `<Menu>` dropdown close when Escape is hit. I suspect it should go here.

https://github.com/GavinJoyce/ember-headlessui/blob/57f3da16050f1eeb608d9a2bbea993c75e24c857/addon/components/menu/items.js#L6-L20

[2021-06-18 11:02] achambers opened #55 "Focus of menu button on close seems incorrect."
When I click out side of the menu, say on another button, when the menu closes it sets focus back on the menu button whereas I'd expect the focus to remain on the element I just clicked on. I'm not clear if it makes sense to refocus the button at all. Maybe it does under some circumstances but unsure what they are. In short though, the example below doesn't make sense so there is some improvement

[2021-06-18 11:03] #52 closed

[2021-06-26 13:01] alexlafroscia commented on #54
I'm making some other improvements to `Menu` right now, including implementing the item search functionality. I'll take care of this one!

[2021-06-26 13:03] alexlafroscia commented on #55
Maybe it should only re-focus the button on `ESC` (once #54 is fixed)? Or if the element clicked on is not itself interactive?

[2021-06-26 20:50] alexlafroscia commented on #7
I spent a while yesterday thinking about the "menu item" vs. "menu element" problem and whether there's a way to remove the need for the element component. Here's how I'm wrapping my head around it right now:

* The "menu element" is _actually_ the important part of the API. We need a DOM node that we can count on for a few things
  * Establishing where to place `role="menuitem"`
  * Placing the `

[2021-06-26 20:54] alexlafroscia commented on #7
BTW

This is done as of #57

[2021-06-26 21:08] GavinJoyce commented on #7
Thanks for digging into this @alexlafroscia and for refreshing my memory on why I initially added two components for each item.

If we can't find a way to collapse the definition of an item into a single component, I don't see much of a difference between these two APIs:

**two components:**
[code]

**one component and one modifier:**
[code]

If there's a downside to using a modifier, perhaps the

[2021-06-28 19:28] achambers commented on #55
Both reasonable suggestions to me. Which do you prefer @alexlafroscia ?

[2021-06-28 20:10] alexlafroscia commented on #7
I think you're right!

One API clean-up thing that we _could_ look into is doing something more like this:

[code]

(Specific names certainly can be bike-shedded)

There's a few nice things here:

* All components are rendered off of `menu`, so there's less need to yield in the templates. It also matches the React/Vue naming a little more closely, where all the components are `Menu` or `Menu.Somet

[2021-06-28 20:13] alexlafroscia commented on #55
#58 fixes this by allowing a focus-trap on the `Menu::Items` element (which should have a focus trap and currently does not) handle re-focusing the previous element, so the behavior becomes "whatever `focustrap.js` does by default", which is probably good enough! It seems to work nicely from what I can tell but I haven't tried multiple menus adjacent to each other where we bounce between them. Cou

[2021-07-01 07:17] far-fetched opened #63 "✨ `<Dialog>`Add support for nested dialogs"
### **Summary**
As `react` and `vue` packages support nested dialogs, we should introduce the same concept.

[example in react](https://codesandbox.io/s/headlessui-dialog-multiple-modals-bugs-forked-o2ykb?file=/pages/index.js)

The concept assumes that a parent dialog cannot be closed when at least one child dialog is opened. By clicking outside (ESC, on overlay) we only close the dialog which was

[2021-07-01 19:39] alexlafroscia commented on #63
I think that this would be the way to go. We can use a service to store a stack of open `Dialog` components that is pushed to/popped from when `Dialog` components are mounted/unmounted.

The issue that I see with yielding a `Nested` component is that most of the ways I would see nesting of dialogs happening, one instance won't actually know about another. I could see a component that _happens_ to

[2021-07-05 13:31] alexlafroscia opened #65 "Implement `Transition` component"
Just creating this as a way of letting people know I am working on this one in my free time, to avoid two people starting on it without knowing the other has something in progress!

[2021-07-05 13:31] #54 closed

[2021-07-05 13:31] #55 closed

[2021-07-06 15:06] #63 closed

[2021-07-06 15:49] alexlafroscia commented on #65
This is a work-in-progress and I'm not ready to make a PR yet, but I took the general idea of the React/Vue implementation and adapted it for use with Ember

https://github.com/alexlafroscia/ember-headlessui/blob/82addef1b9235b023b715bb3628ce2aa5e6338a8/addon/utils/transition.js#L4-L34

The idea is the same; read the transition duration and delay and resolve a promise after that much time has pass

[2021-07-06 15:55] alexlafroscia commented on #65
What's tricky for me right now, which I'm working out how I want to approach, is the difference between the `@show` argument and some internal concept of "the component should be mounted right now". It's not exactly 1:1 -- if you transition from `false` to `true` then the component should become mounted. If you transition from `true` to `false`, though, you should actually do the following:

1. Ap

[2021-07-06 16:08] far-fetched commented on #65
Are you sure that is correct ? I was thinking rather:
1. apply leave and leave-from
2. apply leave-to, remove leave-from
3. now wait for transition duration
4. unmount component

Am I missing something ? 🤔

[2021-07-06 17:53] alexlafroscia commented on #65
I might have written it out wrong here, but I think the implementation is correct

This Ember Concurrency task here

https://github.com/alexlafroscia/ember-headlessui/blob/82addef1b9235b023b715bb3628ce2aa5e6338a8/addon/components/transition.js#L63-L78

maps to the React utility function here

https://github.com/tailwindlabs/headlessui/blob/b961a189d57fa24af2a0bd0a6d73fa44e1d34529/packages/%40headl

[2021-07-07 09:17] achambers commented on #65
Oh, this discussion excites me. Thanks for taking this on @alexlafroscia .

Don't worry Alex, not shots fired here ;) It's just a general preference I think it'd be useful to have in this repo but it's by no means cut and dry and we should be pragmatic about each situation. I have full confidence that if you think there is a a good reason to introduce something then it's the right thing to do.

`e

[2021-07-07 15:17] alexlafroscia commented on #65
That's interesting @achambers! I've never seen that repo before; it looks really similar to the nature of the `Transition` component!

I have `Transition` like... 60% implemented at this point on my branch. All of the tests are passing for the `Transition` component itself; I just need to push through the `Transition::Child` tests as well, but I think that should be pretty easy.

For now, the impl

[2021-07-08 16:19] alexlafroscia commented on #65
Whew! After a morning of refactoring, I was able to remove the dependency on `ember-could-get-used-to-this`. We still depend on `tracked-maps-and-sets`, but it's small, tree-shakeable and intended to be a low-level primitive. I'm feeling better about my approach now that I don't need to introduce that dependency!

The key was to turn each `Resource` into a `Helper` instead, which is called using `

[2021-07-08 19:30] far-fetched commented on #65
That's huge! Actually, I was concern about the fact that we use the concept of '@resource' for that. I felt that main intention of it was rather  loading data ? (Correct me if I am wrong). `Invoke helper` it is more primitive and seems like a more adequate solution in our case, so well done. Can't wait to see it in action 🍰

[2021-07-12 16:42] alexlafroscia commented on #65
My take is that, rather than the intention being “data loading”, it’s more about things that produce a value with a distinct lifecycle. Data loading is a specific example of that; there are some inputs that might change, a request to perform that introduces a loading state, error handling, success handling… Resources can be a way to model that.

The class string for the `Transition` component is _

[2021-07-12 21:18] far-fetched opened #69 "Implement `<Listbox>` component"
I have already implemented it in one of my pet project. There is a lack of accessibility features there, but at least it would be a good starting point. I just let you know to not repeat work. I can push it forward in spare time.

[2021-09-01 17:24] alexlafroscia opened #77 "Use `@as` to customize root element"
Some of our component use a `@tagName` argument to customize the root element, while others use `@as`

We should use `@as` across _all_ components for two main reasons:

1. Consistency with the React/Vue implementations
2. Accepting a component rather than _just_ a string would be nice, like `Menu::ItemElement` does (to support `LinkTo`)
    https://github.com/GavinJoyce/ember-headlessui/blob/e936

[2021-09-02 18:59] #65 closed

[2021-09-03 16:05] #69 closed

[2021-09-03 16:54] alexlafroscia opened #78 "Add GitHub Action to ensure PRs have the correct labels for `release-it`"

[2021-09-07 16:00] roomman opened #80 "Preventing default key event behaviours for menu"
Hi all, thanks for this add-on. It's been great to see this develop and to learn some of the newer ways of developing with Ember.

Just a quick question on the keyboard events for `<Menu>`. Is there a rationale for not preventing the default behaviour for the up and down arrow events? They are causing some jerky scrolling, when the containing element has a height greater than the viewport.

The fo

[2021-09-08 07:39] roomman commented on #80
Just checked the React edition of headlessui and their Menu component has `preventDefault` and `stopPropagation`. 👍🏻

[2021-09-16 20:47] alexlafroscia commented on #80
This is definitely a bug in our implementation; I've noticed the same problem in our app that uses `Menu`

[2021-10-01 17:45] NullVoxPopuli commented on #77
I'm in favor

[2021-10-01 17:45] NullVoxPopuli opened #86 "Implement <Tabs> component"
TODO:

- [ ] component
- [ ] tests
- [ ] docs

[2021-10-01 17:52] NullVoxPopuli opened #88 "Ditch @ember/render-modifiers"
We should provide our own modifier implementation for now, because `@ember/render-modifiers` throws a deprecation in Ember 3.22+ _and_ render-modifiers are anti-patternyish https://nullvoxpopuli.com/avoiding-lifecycle

[2021-10-02 18:04] NullVoxPopuli commented on #86
I can implement this once these land:

- [ ] https://github.com/GavinJoyce/ember-headlessui/pull/90
- [ ] https://github.com/GavinJoyce/ember-headlessui/pull/89

[2021-10-03 13:56] GavinJoyce commented on #77
Might be nice to create a helper named something like `componentOrElement` to remove the need for a backing class in the `Menu::ItemElement` component:

[code]

[2021-10-03 14:03] GavinJoyce commented on #77
Hmm, ^ might not be possible as the `element` helper is actually an AST transform, not a function that we can invoke:

https://github.com/tildeio/ember-element-helper/blob/main/addon/helpers/element.js

[2021-10-03 14:05] NullVoxPopuli commented on #77
do we have an RFC for an element helper? maybe we need to implement that over in the glimmer-vm?

[2021-10-03 14:06] GavinJoyce commented on #77
A quick improvement might be to just create a `tagNameIsComponent` helper, that will allow us to remove the need for a backing class

[2021-10-03 14:16] GavinJoyce commented on #77
The https://github.com/tildeio/ember-element-helper readme references a couple of RFCs

[2021-10-03 15:10] NullVoxPopuli commented on #88
Potentially, we could go this approach so that we are compatible with Ember 4 once the old modifier managers are removed: https://github.com/NullVoxPopuli/ember-popperjs/blob/main/addon/-private/-function-modifier.ts

[2021-10-03 15:13] #18 closed

[2021-10-03 15:26] NullVoxPopuli opened #94 "Which components are public API?"
Traditionally, all components used must have app-re-exports, but with Ember 3.25+, we can get around that -- and there may be some internal organization benefits to having total control over implementation details if we can ensure that certain components, like, list-box/button is private (in this case, the only intended use is through the yield of the listbox component, which pre-wires up a bunch

[2021-10-03 16:08] NullVoxPopuli commented on #94
like, for `Switch`, we could say that:

Public API:
 - `<Switch>` + all arguments + all attributes
 - yielded properties; `isOn`, `<Label>`, `<Button>`

 _but_, the following is private API:
  - `<Label>`'s `@guid`, `onClick`
  - `<Button>`s `@guid`, `@labelGuid`, `@isOn`, `@onClick`, `@onKeyUp`

[2021-10-03 16:49] GavinJoyce commented on #94
👍 I think it's reasonable that top level components are public and any yielded components are private.

[2021-10-03 19:40] NullVoxPopuli opened #96 "Should we add this project to hacktoberfest?"
According to the [maintainers' resources page](https://hacktoberfest.digitalocean.com/resources/maintainers), all that needs to happen is adding `Hacktoberfest` to the repo's topics

[2021-10-03 20:09] GavinJoyce commented on #96
✅

<img width="434" alt="Screenshot 2021-10-03 at 21 08 52" src="https://user-images.githubusercontent.com/2526/135769850-a554c9e7-969e-44be-8883-234917eeb953.png">

[2021-10-03 20:09] #96 closed

[2021-10-03 20:13] NullVoxPopuli commented on #96
woo! now let's hope people want a t-shirt :D

[2021-10-04 07:26] tniezurawski commented on #96
From the page posted by @NullVoxPopuli:

@GavinJoyce Do you see issues where that could easily fit? 🤔

[2021-10-04 07:58] GavinJoyce commented on #96
Hmm, yeah - now that I think of it there aren't many issues that people can just pick up. Probably just this one:

 * https://github.com/GavinJoyce/ember-headlessui/issues/77

I haven't participated in Hacktoberfest before so haven't really thought about the implications of adding the tag. We could remove it if we think we're not suitable

[2021-10-04 09:24] roomman opened #97 "Template lint errors in test files"
I'm adding some `<Menu>` tests and I am seeing `ember-template-lint(prettier)` errors in VSCode, wherever a template is rendered into a test file:

<img width="947" alt="Screenshot 2021-10-04 at 10 18 52" src="https://user-images.githubusercontent.com/10168451/135825994-83ff053c-40d1-4889-82c6-96cf9321d06f.png">

Assuming others are not seeing these errors(?), and it's an issue with my editor's se

[2021-10-04 10:54] GavinJoyce commented on #97
I'm seeing this too in my setup. It seems that it wants us to format is as follows:

<img width="760" alt="Screenshot 2021-10-04 at 11 53 47" src="https://user-images.githubusercontent.com/2526/135839298-0e9af402-e2c4-421f-97b1-5c13d752e9b0.png">

[2021-10-04 10:57] GavinJoyce commented on #97
^ It's not terrible, but not necessarily better than what we have. I can see how this will become annoying.

I don't have a strong opinion, but I wouldn't be against disabling prettier for hbs in tests if we can't improve the experience

[2021-10-04 11:25] NullVoxPopuli commented on #96
I still think it makes sense for folks who already know ember + tailwind and want the goals of headless UI 🤷 might be a small group? but in my past years participating in hacktoberfest _most_ issues are documentation related (as writing documentation requires a fair bit less context than coding), and we could always use more of that.

[2021-10-05 07:54] #80 closed

[2021-10-06 13:25] GavinJoyce opened #101 "Remove unused `@key` from `ListBox` sample code"
I think `@key` isn't actually used by `<Listbox>` or `<Listbox::Option>`:

https://github.com/GavinJoyce/ember-headlessui/blob/2c3de28d76181665d1efa2388c7cd3a1a13603e3/tests/dummy/app/components/listboxes/basic.hbs#L38

If not, we can remove it from the example

[2021-10-06 17:48] #101 closed, assigned to nobody

[2021-10-07 13:16] patocallaghan opened #103 "Implement `<RadioGroup>` component"
👋 Unless anyone else is focusing on it I'd like to implement the [RadioGroup](https://headlessui.dev/react/radio-group) component

TODO:

* [ ] component
* [ ] tests
* [ ] docs

[2021-10-16 16:13] roomman opened #105 "Error in Embroider enabled apps using `@tagName` with `<Menu>`"
I hit up against [this Embroider bug](https://github.com/embroider-build/embroider/issues/815) today, while trying to add some `LinkTo` components as menu items, using `@tagName`.

I see `Missing component: link-to in...` in the console.

I just updated to the latest Embroider modules and this is still an unresolved issue. I thought I'd add something here so we can keep track. 👍🏻

[2021-10-19 18:44] alexlafroscia opened #106 "Document Testing Best-Practices"

[2021-10-19 18:59] #106 closed, assigned to nobody

[2021-11-21 14:18] GavinJoyce opened #113 "Some tests fail after upgrading `ember-auto-import`"
The failures seem to be related to https://github.com/alexlafroscia/qunit-wait-for:

<img width="1019" alt="Screenshot 2021-11-21 at 14 16 34" src="https://user-images.githubusercontent.com/2526/142765461-67d3b02a-1dea-43b0-840e-e2d94519a462.png">

So that we're not blocking to the move to Ember 4.0, I'm going to disable the tests for now. We can either fix the issue and reenable, or rewrite the t

[2021-11-21 20:59] GavinJoyce commented on #113
@alexlafroscia perhaps you have seen something like this before with `ember-wait-for`?

[2021-11-25 20:50] roomman commented on #105
Hey @alexlafroscia, sorry for the delay in coming back on this.

Minimal reproduction can be [found here](https://github.com/roomman/ember-headlessui-linkto-bug). I've added individual commits, as follows:

- [The first](https://github.com/roomman/ember-headlessui-linkto-bug/commit/d513c69209848abe54251833bfe4346e7f68f499) simply installs this addon and renders a menu with one item, which is a `li

[2021-12-06 18:37] NullVoxPopuli opened #115 "Not compatible with ember 4"
This is due to the use of `@ember/render-modifiers`.

we'll need to rip that out.

only 3.22 capabilities are allowed:
![image](https://user-images.githubusercontent.com/199018/144902896-601dedc5-764c-4644-937b-1891db1661f9.png)

[2021-12-06 18:45] NullVoxPopuli commented on #115
Related: https://github.com/GavinJoyce/ember-headlessui/issues/88

[2021-12-10 16:06] aatauil opened #117 "Closing issue when using powerselect inside a dialog"
When using ember-power-select inside the dialog, the dialog will trigger the @onClose event whenever clicking on the dropdown of the power select. The dropdown of the power-select gets rendered inside the 'ember-basic-dropdown-wormhole' div that is right under the body tag.

I tried to dig into it a bit and found out that it is caused by the headlessui-focus-trap modifier. Specifically allowOutsid

[2021-12-12 03:46] #115 closed

[2021-12-13 03:21] NullVoxPopuli commented on #113
is this still an issue?

[2021-12-13 08:50] GavinJoyce commented on #113
I believe so, there are a bunch of tests which are currently being skipped: https://github.com/GavinJoyce/ember-headlessui/search?q=issues%2F113

[2021-12-14 09:10] aatauil commented on #117
FYI, if anyone else encounters this issue, you can just add the renderInPlace property and set it to true and that will solve the issue for power-select

[code]

[2021-12-14 09:22] aatauil commented on #117
Yeah for simple dropdown use, absolutely! but went for power-select since I want to take advantage of the search function without having to implement it myself :p

[2021-12-20 09:33] GavinJoyce commented on #113
Thanks for the PRs @bertdeblock!

I think I know why tests sometimes fail locally. If you click in the browser while the tests are running, it's possible to get tests to fail. eg. If you click the "Hide passes tests" while the tests are executing, you might get a failure like this:

<img width="1593" alt="Screenshot 2021-12-20 at 09 27 02" src="https://user-images.githubusercontent.com/2526/146745

[2021-12-20 09:43] bertdeblock commented on #113
Same goes for tests that rely on an element being in focus and the test container is hidden. Happened in this project as well I think. I've created a PR over in `ember-qunit` that should resolve this:
https://github.com/emberjs/ember-qunit/pull/912

[2021-12-21 11:57] bertdeblock commented on #77
👋 Interested in contributing to this project and this seems like a good one to pick up (unless someone is already working on this of course).

Couple of questions:
- Should a tag name and a component _always_ be accepted everywhere or are there cases were we only want to allow a tag name and not a component or vice versa?
- Should the current `@as` cases be updated to also accept components?
- Sho

[2021-12-22 17:11] bertdeblock commented on #105
This was fixed in v0.48.0 of `@embroider/compat`:
https://github.com/embroider-build/embroider/blob/master/CHANGELOG.md#v0480-2021-12-07

I checked out the reproduction and bumped the embroider versions to latest and everything works fine now.

[2021-12-23 18:44] roomman commented on #105
Awesome, thanks @bertdeblock, I'll close this issue.

[2021-12-23 18:44] #105 closed

[2021-12-25 16:28] NullVoxPopuli opened #125 "Docs for using Tailwind"
Since there is a high liklihood people are using headlessui with tailwind, maybe we should have docs on how to set up tailwind?

ember-cli-postcss isn't a great solution right now (esp for embroider), and overall, the ember-cli style pipeline is full of dragons / unintuitiveness.

So, We'll need to verify all the ember-integrated options, such as:
https://github.com/NullVoxPopuli/limber/blob/main/

[2022-01-08 14:00] MichalBryxi opened #126 "Implement Disclosure component"
[Disclosure](https://headlessui.dev/react/disclosure) component is part of HeadlessUI

TODO:

- [ ] component
- [ ] tests
- [ ] docs

[2022-01-08 14:05] GavinJoyce commented on #103
Hey @patocallaghan, still interested in implementing this? No worries if you aren't

[2022-01-09 21:18] NullVoxPopuli commented on #94
It's a feature of the VM upgrade in 3.25+ that lets components-as-values be a thing, made a demo: https://github.com/GavinJoyce/ember-headlessui/pull/119/files#diff-268d073b63281f34748203ce9d28f671ae6be574d74ea8d0407154b0d3452924R8

[2022-01-10 09:58] patocallaghan commented on #103
I'd love to but other stuff has taken my attention unfortunately. If someone else wants to take it on in the short term please do so.

[2022-01-20 17:24] NullVoxPopuli commented on #125
:thinking:
Using (a newer approach that is maaaaaybe a week old)  `npx ember-apply tailwind` gets me fingerprints:
![image](https://user-images.githubusercontent.com/199018/150389846-fc37e029-2b07-493f-a07d-bf2690d9c319.png)
not sure what's different with the broccoli-funnel tho

[2022-01-20 18:23] NullVoxPopuli commented on #125
Not in a separate repo, but the transforms are documented as code here: https://github.com/NullVoxPopuli/ember-apply/blob/main/packages/ember/tailwind/index.js

[2022-02-18 10:42] bertdeblock opened #130 "Bump `@embroider/macros`"
The version currently used by `ember-headlessui` causes a build error for me post install.

ember-cli: 4.1.1
node: 16.13.2
os: darwin arm64

[2022-02-18 10:54] bertdeblock commented on #130
This in turn also needs a bump of `ember-element-helper` it seems.

[2022-02-22 09:26] roomman opened #132 "Feedback welcome"
Hi, just flagging that I've submitted a [draft PR and would welcome feedback](https://github.com/GavinJoyce/ember-headlessui/pull/129). I've included questions about inconsistencies I found between this project and `headlessui.dev`, while implementing a Modal with Transitions. 🙏🏼

[2022-02-24 11:18] roomman opened #133 "Transitions are throwing errors in Fastboot"
I'm seeing the following error from a Fastboot server:
[code]
@alexlafroscia, as the author of Transition, how would you feel about adding (or reviewing a PR to add) some guarding for Fastboot? Is that appropriate or should it be for addon consumers to work that out?

[2022-02-25 15:17] NullVoxPopuli opened #134 "Move menu focus trap to containing element"
Per discussion here: https://gist.github.com/MelSumner/1e724431bcb3ec666408240a85fa94db#gistcomment-4078095

[2022-03-02 14:02] #130 closed

[2022-03-02 17:21] NullVoxPopuli commented on #130
it does -- but also, we should remove render-modifiers from this addon

[2022-03-02 17:57] bertdeblock commented on #130
What are the errors? Apologies if they are caused by my last PR.

[2022-03-02 18:32] NullVoxPopuli commented on #130
all `@embroider/*` deps need to be in-sync across a whole project.
So, the solution folks should use for the time being is:
`resolutions` (for yarn)
`overrides` (for npm 8+)

to force embroider deps to be all 1.2.0

[2022-04-04 14:57] dmcnamara-eng opened #138 "Implement <ComboBox> component"
I am starting work on porting [ComboBox](https://headlessui.dev/react/combobox) to `ember-headlessui`

[2022-04-07 17:42] dmcnamara-eng commented on #138
WIP: https://github.com/GavinJoyce/ember-headlessui/compare/master...phorest:feature/combobox?expand=1

[2022-05-08 19:16] NullVoxPopuli commented on #138
this is exciting!! thank you!

[2022-06-01 14:25] #132 closed

[2022-06-03 21:27] NullVoxPopuli commented on #88
Resolved in https://github.com/GavinJoyce/ember-headlessui/pull/154

[2022-06-03 21:27] #88 closed

[2022-06-11 14:36] NullVoxPopuli commented on #113
is this issue still a problem?

[2022-07-12 14:45] #103 closed

[2022-07-12 15:22] dmcnamara-eng opened #160 "Build is broken due to external dependency hell"
[code]

[2022-07-12 15:26] NullVoxPopuli commented on #160
yeah, octokit needs to fix that -- nothing we can really do here

[2022-07-12 15:35] NullVoxPopuli commented on #160
correct.
  - `@octokit/rest` - https://github.com/octokit/rest.js/blob/master/package.json#L36
    - specified `@octokit/core` v4 on the line above
    - latest https://github.com/octokit/plugin-paginate-rest.js/blob/master/package.json#L31 has correct peer.

So why do we have 3.6.0?

[code]

latest release-it is 15.1.1, we are not using that -- so maybe the problem is release-it. Let's upgrade th

[2022-07-12 15:37] NullVoxPopuli commented on #160
I upgraded release-it, but release-it-lerna-changelog has not been updated
[code]

[2022-07-12 15:37] NullVoxPopuli commented on #160
There is already an issue: https://github.com/rwjblue/release-it-lerna-changelog/issues/203

But rwjblue is on vacation, I think

[2022-07-12 15:44] NullVoxPopuli commented on #160
ah ok, so release-it is using @octokit/rest v18, instead of v19

[2022-07-12 15:47] NullVoxPopuli commented on #160
This should resolve : https://github.com/GavinJoyce/ember-headlessui/pull/161

[2022-07-12 15:53] dmcnamara-eng commented on #160
Nice one! I went down that road but wasn't sure on our "policy" on using forks.

[2022-07-12 16:07] NullVoxPopuli commented on #160
it's a dev-time tool, so it's not going to affect our users :see_no_evil:

[2022-07-15 23:31] NullVoxPopuli commented on #160
resolved by: https://github.com/GavinJoyce/ember-headlessui/pull/163

[2022-07-15 23:31] #160 closed

[2022-07-16 12:46] NullVoxPopuli opened #164 "release config broken: Could not infer "repo" from the "package.json" file."
It seems that since switching to monorepo, the release tooling doesn't actually work.

Running in to this error: https://github.com/lerna/lerna-changelog/blob/master/src/configuration.ts#L43

[2022-07-16 12:47] NullVoxPopuli commented on #164
lerna-changelog is using the root of the repo, rather than the current working directory

[2022-07-16 12:58] NullVoxPopuli commented on #164
fixed via `pnpm patch` for now, but this is "temporary"

[2022-09-29 10:41] rreckonerr opened #166 "Click on `dialog.Overlay` does not close the modal"
... in case `dialog.Overlay` a wrapped in `t.Child`.

### Reproduction:
1. Navigate to https://gavinjoyce.github.io/ember-headlessui/dialog/dialog-modal-with-transition
2. Open the dialog
3. Click on the overlay
4. See that the `Dialog`'s `onClose` handler is not called

https://github.com/GavinJoyce/ember-headlessui/blob/20494812748e39f9061f1d94eaf4228d347491f6/test-app/app/templates/dialog/dialo

[2022-09-29 13:15] rreckonerr opened #167 "TypeError: can't convert value to string"
## UPDATE
It appeared to be a simple naming collision! The `as |t|` and the `t` helper part.
Took me a while to figure that out 🙈
[code]
-----

<details>
  <summary>Original issue descrition</summary>

When component with {{yield}} is wrapped in `Transition` and yields helper, e.g. {{t 'some.translation'}}

### This will throw
[code]

### These will not throw
[code]

[code]
</details>

[2022-10-01 10:44] #167 closed

[2022-10-15 06:45] Chris-Blesson commented on #126
Can you assign this to me, and also add the hacktoberfest tag to it. Thanks in advance

[2022-10-15 11:58] NullVoxPopuli commented on #126
The hacktoberfest tag is already on this repo, so all you need to do is submit a PR :tada:

[2022-10-15 15:55] Chris-Blesson commented on #126
Cool thanks

[2022-10-22 17:00] Chris-Blesson commented on #126
I followed the steps for local setup but I am getting this issue.
![image](https://user-images.githubusercontent.com/46119418/197352934-a3921d76-1ff5-4e04-b715-854631fb2ba3.png)
My node version is 14.15.1. Kindly help

[2022-10-23 04:59] Chris-Blesson commented on #126
If I run `ember s` in the test-app folder the app is getting served with issues @NullVoxPopuli, should I add my component in the test-app folder and raise a PR ?

[2022-10-24 18:51] Chris-Blesson commented on #126
Hi @NullVoxPopuli I have raised a [PR](https://github.com/GavinJoyce/ember-headlessui/pull/168) for this issue, kindly review

[2022-10-25 03:28] Chris-Blesson commented on #86
Hi @NullVoxPopuli do you have an example for this component?

[2022-11-16 14:02] rreckonerr commented on #166
Seems like it depends on your dialog's HTML structure. Just copying over tailwindui components and expecting them to work will not do

[2022-11-16 14:02] #166 closed

[2022-11-16 14:26] rreckonerr opened #170 "BUG: click outside <Dialog /> should be allowed"
# Usecase
I'm working on adding notifications to the app, and it should be possible to click/close the notification without closing the current `<Dialog />`

# Problem
At the moment any click outside `<Dialog />` will trigger @onClose. The only exception is child dialogs spawned by the modal (handled by dialog-stack-provider service).

This behavior used to be the same in `@headlessui/react@v1.5.0